---
import Badge from '@components/Badge.astro';
import ResponsiveImage from '@components/ResponsiveImage.astro';

interface Props {
    title: string;
    body: string;
    image?: any;
    author?: string;
    date?: string;
    slug: string;
    class?: string;
}

const { title, body, image, author, date, slug, class: className } = Astro.props;
---

<article class:list={['relative group', className]}>
    <a href={`/news/${slug}`} class="block">
        <div class="card card-border w-full h-full hover:shadow-lg transition-shadow duration-200">
            {
                image && (image.asset || image.src) && (
                    <figure>
                        <ResponsiveImage
                            _id={image._id}
                            src={image.src}
                            asset={image.asset}
                            dimensions={image.dimensions}
                            alt={image.alt || title}
                            imageType="card"
                            class="transition-transform duration-200 group-hover:scale-105"
                        />
                    </figure>
                )
            }
            <div class="card-body gap-4 text-left">
                {author && <Badge label={`By ${author}`} theme="neutral" />}
                <h3 class="font-black card-title sm:text-2xl group-hover:text-primary transition-colors">
                    {title}
                </h3>
                {body && <p class="text-gray-600">{body}</p>}
                {date && <p class="text-sm text-gray-500">{date}</p>}
                <div class="card-actions">
                    <span class="font-bold text-primary group-hover:underline"> Read More → </span>
                </div>
            </div>
        </div>
    </a>
</article>
